.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 6rem;
  min-height: 100vh;
}

.description {
  max-width: var(--max-width);
  width: 100%;
  font-family: sans-serif;

  background-color: rgba(var(--callout-rgb), 0.5);
  border: 1px solid rgba(var(--callout-border-rgb), 0.3);
  border-radius: var(--border-radius);
  padding: 1rem;
}

.table {
  width: 100%;
  align-items: left;
  border: 1px solid black;
  border-collapse: collapse;
}

.table-cell {
  border: 1px solid black;
  border-collapse: collapse;
}